@mixin sub-button(){
    background: map-get($gradient-background , "$sub-button" );
    padding: 1rem 2.5rem;
    font-size: map-get($font-size, "$btn-font-size" );
    font-weight: map-get($font-weight , "$font-weight-bolder" );
    font-family: map-get($font-family, "$font-family-sans-serif");
    color: map-get($colors , "$white" );
}