@mixin img-gradient() {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    mix-blend-mode: multiply;
    background: linear-gradient(35deg, #ea1717 0%, #193ce5 100%);
}